services:
  mongo:
    image: mongo
    container_name: mongo
    hostname: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: agenda
      MONGODB_DATABASE: agenda
    volumes: 
      - db_data:/data/db
    networks:
      - agenda-network

  mongoexpress:
    image: mongo-express
    container_name: mongo-express
    hostname: mongo-express
    restart: unless-stopped
    ports:
      - "8888:8081"
    links:
      - mongo
    networks:
      - agenda-network
  

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
    - cadvisor

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    container_name: cadvisor
    hostname: cadisor
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    depends_on:
      - redis
    networks:
      - agenda-network

  redis:
    image: redis:latest
    container_name: redis
    container_name: redis
    hostname: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    networks:
      - agenda-network

  backend: 
    container_name: agenda-backend
    hostname: agenda-backend
    restart: unless-stopped
    build: 
      context: ../
      dockerfile: ./docker/Dockerfile
    environment:  
      DB_SERVER: mongo
      DB_NAME: agenda
      SERVER_ADDRESS: 0.0.0.0:8081
      PROMETHEUS_SERVER: http://prometheus:9090/
    ports:
      - 8081:8081
    links:
      - mongo
      - prometheus
    networks:
      - agenda-network


volumes:
    db_data:

networks: 
    agenda-network:
      driver: bridge